// import dark theme
@use "element-plus/theme-chalk/src/dark/css-vars.scss" as *;
// :root {
//   --ep-color-primary: red;
// }

body {
  font-family: Inter, system-ui, Avenir, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

a {
  color: var(--el-color-primary);
}

code {
  border-radius: 2px;
  padding: 2px 4px;
  background-color: var(--el-color-primary-light-9);
  color: var(--ep-color-primary);
}


// 下面是全局样式
.main-wrapp {
  .option-wrap {
    text-align: right;
    margin-bottom: 16px;
  }
  .page-wrap {
    padding: 12px 0;
    text-align: right;
    display: flex;
    justify-content: flex-end;
  }
  .table-wrap {
    .el-dropdown .el-button {
      margin-left: 10px;
    }
  }
}


// 加入自己的css变量
html.dark {
  /* 自定义深色背景颜色 */
  --el-bg-main-color: var(--el-bg-color-overlay);
  --el-dialog-border-radius: 8px;
}
html {
  /* 自定义浅色背景颜色 */
  --el-bg-main-color: #f6f6f7;
  --menu-bg-color: rgba(31, 35, 57, 1);
  --menu-text-color: rgba(131, 138, 155, 1);
  --menu-text-active-color: #fff;
}
// 覆盖dialog样式
.el-dialog {
  border-radius: 8px !important;
  .el-dialog__header {
  }
  .el-dialog__body {
    padding: 12px;
    background-color: var(--el-bg-main-color);
  }
  .el-dialog__footer {
    margin-left: -12px;
    margin-right: -12px;
    padding: 12px 24px;
    text-align: right;
  }
}
// 覆盖表单样式
#app .el-range-editor.el-input__inner {
  padding: 0 10px;
}
